Figures for baseline/Risks.xlsx
__pycache__/airship.cpython-311.pyc
Aerodynamic_Atmospheric/__pycache__/ISA_Calculator.cpython-311.pyc

Airship_shit/__pycache__/airship_customized.cpython-311.pyc

Airship_shit/__pycache__/airship_power_required.cpython-311.pyc
Airships/Airship.py
Airships/__pycache__/airship_customized.cpython-311.pyc
Airships/__pycache__/airship_power_required.cpython-311.pyc
Airships/__pycache__/Airship.cpython-311.pyc
Airships/__pycache__/solar_power_model.cpython-311.pyc
Airships/__pycache__/RFC_model.cpython-311.pyc
